<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.ChatMapper">
	<!-- 채팅기록 DB 저장 -->
	<insert id="insertAnxietyChat" parameterType="ChatDTO">
		INSERT INTO SURVEY_ANXIETY (
			USER_ID,
			REG_DATE,
			TEXT_1,	
			TEXT_2,	
			TEXT_3,	
			TEXT_4,	
			TEXT_5,	
			TEXT_6,	
			TEXT_7,	
			TEXT_8,	
			TEXT_9,	
			TEXT_10,
			TEXT_11, 
			TEXT_12, 
			TEXT_13, 
			TEXT_14, 
			TEXT_15, 
			TEXT_16, 
			TEXT_17, 
			TEXT_18,
			TEXT_19, 
			TEXT_20,
			TEXT_21
		) VALUES (
			#{user_id},
			NOW(),
			#{text_1}, 
			#{text_2}, 
			#{text_3}, 
			#{text_4}, 
			#{text_5}, 
			#{text_6}, 
			#{text_7}, 
			#{text_8},
			#{text_9}, 
			#{text_10},
			#{text_11},	
			#{text_12},	
			#{text_13},	
			#{text_14},	
			#{text_15},	
			#{text_16},	
			#{text_17},	
			#{text_18},	
			#{text_19},	
			#{text_20},
			#{text_21}
		)
	</insert>
</mapper>